<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/home">Menu principal</a>
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a id="current">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
            </ul>
        </center>

        <div class="container">
            <!-- Gestion messages -->
            <div class="form-message">
                {{ if .Error }}
                    <div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ .Error }}</div>
                {{ else if .Success }}
                    <div class="alert sucess"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ .Success }}</div>
                {{ end }}
            </div>
            <!-- Fin gestion messages -->
        
            <form method="post" name="ajouterCompetence" enctype="multipart/form-data" class="ajouterEleve_big">
                <center>
                    <div class="left">
                        
                    </div>
                    <label for="categorie" class="center">Catégorie de compétence</label>
                    <select id="categorie" name="categorie" onchange="GetSubCategories()">
                        <option value="" disabled selected></option>
                        {{ range .Categories }}
                            <option value="{{ .Id }}">{{ .Name }}</option>
                        {{ end }}
                    </select><br>

                    <label for="subCategorie">Sous Catégorie</label>
                    <select id="subCategorie" name="subCategorie">
                        <option value="" disabled selected></option>
                    </select>

                    <label for="valeur" class="center">Nom de la compétence</label><br>
                    <textarea id="valeur" name="name" placeholder="Nom de la compétence"></textarea>
                    <br><br>

                    <label for="image" class="center">Image à associer à la compétence</label>
                    <input type="file" id="image" name="image" accept="image/png, image/jpg, image/jpeg">
            
                    <br><br>
                    <button type="submit" name="submit">Créer</button>
                </center>
            </form>
        </div>
    </body>
</html>

<script>
        document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
        } else {
            navBar.style.display = "none"
        }
    })
    
    async function GetSubCategories() {
        const select = document.getElementById("subCategorie")
        select.innerHTML = '<option value="" disabled selected></option>'

        const selectCateg = document.getElementById("categorie")
        const choiceCateg = selectCateg.selectedIndex
        const valueSelectedCateg = selectCateg.options[choiceCateg].value

        if (valueSelectedCateg === "") {
            return
        }

        const datas = await fetch(`http://${location.host}/getSubCategories`, { method: "POST", body: JSON.stringify(valueSelectedCateg) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(data => {
            const option = document.createElement('option')
            option.value = data.Id
            option.innerHTML = data.Name

            select.appendChild(option)
        });
    }
</script>