<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/home">Menu principal</a>
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a id="current">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
            </ul>
        </center>

        <div class="container">
            <div class="form-message">
                {{ if .Error }}
                    <div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{.Error}} </div>
                {{ else if .Success }}
                    <div class="alert sucess"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{.Success}} </div>
                {{ end }}
            </div>

            <form method="post" name="ajouterEleve" class="ajouterEleve">
                <center>
                    <label for="classe_eleve" class="center">Classe de l'élève:</label>
                    <select id="classe" name="class">
                        {{ range .Class }}
                            {{if eq . "Ps"}}
                                <option value="Ps" name="Ps">Petite section</option>
                            {{else if eq . "Ms"}}
                                <option value="Ms" name="Ms">Moyenne section</option>
                            {{else if eq . "Gs"}}
                                <option value="Gs" name="Gs">Grande section</option>
                            {{ end }}
                        {{ end }}
                        
                        
                    </select><br>
        
                    <label for="nom_eleve" class="center">Nom de l'élève:</label>
                    <input id="nom_eleve" type="text" name="name" placeholder="Nom de l'élève"><br>
                    <label for="annee_scolaire" class="center">Année Scolaire:</label>
                    <input id="annee_scolaire" type="text" name="year" placeholder="Année scolaire"><br>
        
                    <input type="submit" value="Créer" name="submit">
                </center>
            </form>
        </div>
    </body>
</html>

<script>
        document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
        } else {
            navBar.style.display = "none"
        }
    })
</script>