<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <h1>Menu</h1>

        <ul class="menu-li">
            <li><a class="gris" href="/home" id="principale">Menu principal</a></li>

            <li><a class="jaune" href="/saisir/listCompetence" id="listeCompetence">Liste des compétences</a></li>
            <li><a class="rose" href="/saisir/addCompetence" id="addCompetence">Ajouter une compétence</a></li>

            <li><a class="turquoise" href="/saisir/listEleve" id="listeEleve">Liste d'élèves</a></li>
            <li><a class="orange" href="/saisir/addEleve" id="addEleve">Ajouter un élève</a></li>
            <li><a class="vert" href="/saisir/addLinkCompetenceEleve" id="modifyEleve">Attribution des Compétences</a></li>

            <li><a class="rouge" href="/saisir/changeSigningUp" id="addTeacher">Modifier la signature</a></li>
            <li><a class="bleu" href="/saisir/removeLinkCompetenceEleve" id="removeCompetence">Supprimer les compétences d'un élève</a></li>
        </ul>

        {{ if .Error }}
            <div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ .Error }}</div>
        {{ else if .Success }}
            <div class="alert sucess"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>{{ .Success }}</div>
        {{ end }}

        <form method="post" class="ajouterEleve_big">
            <div class="left">
                <label for="nom_client">Année scolaire:</label><br>
                <select id="annee" name="annee" onchange="getStudents()">
                    <option value="" disabled selected></option>
    
                    {{ range .YearList }}
                        <option value={{.}}>{{.}}</option>
                    {{ end }}
                </select>
            </div>
            <div class="right">
                <label for="students">Élèves:</label><br>
                <select id="students" name="students" multiple>
                    <option value="" disabled selected></option>
                </select>
            </div>
            
            <div class="lower2">
                <label for="categories">Catégorie de compétence:</label><br>
                <select id="categories" name="categories" onchange="GetSubCategories()">
                    <option value="" disabled selected></option>
    
                    {{ range .Categories }}
                        <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                </select><br><br>
    
                <label for="subCategorie">Sous Catégorie</label><br>
                <select id="subCategorie" name="subCategorie" onchange="getCompetences()">
                    <option value="" disabled selected></option>
                </select>
    
                <label for="competences">Compétence</label><br>
                <select id="competences" name="competences">
                    <option value="" disabled selected></option>
                </select><br><br>
    
                <input type="submit" value="valider">
            </div>
        </form>
    </body>
</html>

<script>
    const getStudents = async () => {
        const select = document.getElementById('students')
        select.innerHTML = '<option value="" disabled selected></option>'

        const selected = document.getElementById("annee")
        const choice = selected.selectedIndex
 
        const valueSelected = selected.options[choice].value

        const datas = await fetch(`http://${location.host}/getStudents`, { method: "POST", body: JSON.stringify({ year: valueSelected }) }).then(data => data.json())
        if (datas.length === 0) {
            return
        }

        datas.forEach(data => {
            const option = document.createElement('option')
            option.value = data.Id
            option.innerHTML = data.Name

            select.appendChild(option)
        });
    }

    async function GetSubCategories() {
        const select = document.getElementById("subCategorie")
        select.innerHTML = '<option value="" disabled selected></option>'

        const selectCateg = document.getElementById("categories")
        const choiceCateg = selectCateg.selectedIndex
        const valueSelectedCateg = selectCateg.options[choiceCateg].value

        if (valueSelectedCateg === "") {
            return
        }

        const datas = await fetch(`http://${location.host}/getSubCategories`, { method: "POST", body: JSON.stringify(valueSelectedCateg) }).then(data => data.json())
        if (!datas) {
            return
        }

        if (datas.length === 0) {
            getCompetences()
            return
        }

        datas.forEach(data => {
            const option = document.createElement('option')
            option.value = data.Id
            option.innerHTML = data.Name

            select.appendChild(option)
        });
    }

    const getCompetences = async () => {
        const selectCompetence = document.getElementById("competences")
        selectCompetence.innerHTML = '<option value="" disabled selected></option>'

        const selectedSubCategories = document.getElementById("subCategorie")
        const choiceSubCategories = selectedSubCategories.selectedIndex
        const SubCategoriesValueSelected = selectedSubCategories.options[choiceSubCategories].value

        var datas = [];

        if (SubCategoriesValueSelected !== "") {
            datas = await fetch(`http://${location.host}/getCompetences`, { method: "POST", body: JSON.stringify({ subcategories : SubCategoriesValueSelected }) }).then(data => data.json())
            if (!datas) {
                return
            }
        } else {
            const selectedCategories = document.getElementById("categories")
            const choiceCategories = selectedCategories.selectedIndex
            const CategoriesValueSelected = selectedCategories.options[choiceCategories].value

            datas = await fetch(`http://${location.host}/getCompetences`, { method: "POST", body: JSON.stringify({ categories : CategoriesValueSelected }) }).then(data => data.json())
            if (!datas) {
                return
            } 
        }



        datas.forEach(data => {
            const option = document.createElement('option')
            option.value = data.Id
            option.innerHTML = data.Name

            selectCompetence.appendChild(option)
        });
    }
</script>