<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/home">Menu principal</a>
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a id="current">Modifier la signature</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
            </ul>
        </center>

        <div style="display: flex;">
            <form method="post" name="ajouterEnseignant" enctype="multipart/form-data" class="ajouterEleve">
                <center>                    
                    <br><label for="image" class="center">Nouvelle signature :</label>
                    <input type="file" id="image" name="image" accept="image/jpeg, image/jpg, image/png">
                    
                    <br><br><button type="submit" name="submit">Ajouter</button>
                </center>
            </form>
            <br>

            {{ if .ImagePath }}
                <div>
                    <p>Signature Actuelle:</p>
                    <img src="{{ .ImagePath }}" style="width: 150px;">
                </div>
            {{ end }}
        </div>
    </body>
</html>

<script>
        document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
        } else {
            navBar.style.display = "none"
        }
    })
</script>