<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <center>
            <h1>JE SOUHAITE</h1>
        </center>
            
        <ul class="menu-li" style="float:center">
            <li>
                <a href="/saisir" id="saisir" class="main-menu"></a>
            </li>
            <li>
                <a href="/observer" id="observer" class="main-menu"></a>
            </li>
        </ul>

        <div id="footer">
            <center>
                Outil créé par Antoine Marvin
            </center>
        </div>
    </body>
</html>