<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a id="current">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/observer">Généré le pdf</a>
            </ul>
        </center>
        
        <label for="categories">Catégories:</label>
        <select id="categorie" name="categorie" onchange="getCompetence()">
            <option value="" disabled selected></option>

            {{ range .Categories }}
                <option value="{{.Id}}">{{.Name}}</option>
            {{ end }}
        </select>
        <br><br>

        <label for="nom_client">Année scolaire:</label>
        <select id="annee" name="annee" onchange="getStudents()">
            <option value="" disabled selected></option>

            {{ range .YearList }}
                <option value={{.}}>{{.}}</option>
            {{ end }}
        </select>

        <div class="container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Sous-Catégorie</th>
                    <th>Image</th>
                    <th>Élèves</th>
                    <th>Classes</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
                    
                    
                </tbody>
            </table>
        </div>
        
    </body>
</html>

<script>
    document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        const child = navBar.children[0]
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
            
            let i = 50
            let y = -15
            const interval = setInterval(() => {
                child.style.left = `${i}%`
                
                if (Math.floor(i%(50/15)) === 0) {
                    child.style.top = `${y}vh`
                    y++
                }

                i--
                if (i < 0) {
                    clearInterval(interval)
                }
            }, 8)

        } else {
            navBar.style.display = "none"
            child.style.left = "50%"
            child.style.top = "-15vh"
        }
    })
    
    async function getCompetence() {
        const tbody = document.getElementById("tbody")
        tbody.innerHTML = ''

        select = document.getElementById("categorie")
        choice = select.selectedIndex
 
        valueSelected = select.options[choice].value

        const datas = await fetch(`http://${location.host}/getCompetences`, { method: "POST", body: JSON.stringify({ categories: valueSelected }) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(async data => {
            const tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${data.Name}</td>
                <td>${data.Categorie.Name}</td>
                <td>${data.SubCategorie.Name}</td>
                <td><img src="${data.ImagePath}" style="max-width: 200px;"></td>
                <td></td>
                <td></td>
                <td><input type="button" value="Modifier la compétence" name="modifier" id="${data.Id}" onclick="Modify(this)"></td>
                <td><input type="button" id="${data.Id}" value="Supprimer la compétence" name="supprimer" onclick="Remove(this)"></td>
            `

            tbody.appendChild(tr)
        });
    }

    async function getStudents() {
        const tbody = document.getElementById("tbody")
        tbody.innerHTML = ''

        const selectCateg = document.getElementById("categorie")
        const choiceCateg = selectCateg.selectedIndex
        const valueSelectedCateg = selectCateg.options[choiceCateg].value

        const selectYear = document.getElementById("annee")
        const choiceYear = selectYear.selectedIndex
        const valueSelectedYear = selectYear.options[choiceYear].value

        if (valueSelectedCateg === "" || valueSelectedYear === "") {
            return
        }

        const datas = await fetch(`http://${location.host}/getCompetencesWithStudents`, { method: "POST", body: JSON.stringify([valueSelectedCateg, valueSelectedYear]) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(async data => {
            var studentsFormated = ""
            var classFormated = ""

            data.Students.forEach(student => {
                studentsFormated += `${student.Name}<br>`
                classFormated += `${student.Class}<br>`
            })

            const tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${data.Name}</td>
                <td>${data.Categorie.Name}</td>
                <td>${data.SubCategorie.Name}</td>
                <td><img src="${data.ImagePath}" style="max-width: 200px;"></td>
                <td>${studentsFormated}</td>
                <td>${classFormated}</td>
                <td><input type="button" value="Modifier l'élève" name="modifier" id="${data.Id}" onclick="Modify(this)"></td>
                <td><input type="button" id="${data.Id}" value="Supprimer la compétence" name="supprimer" onclick="Remove(this)"></td>
            `

            tbody.appendChild(tr)
        });
        console.log(datas);
    }

    function Modify(e) {
        document.cookie = `competenceId=${e.id}`
        location.href = "/saisir/modifyCompetence"
    }

    function Remove(e) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/deleteCompetence', false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(e.id));

        location.reload()
    }
</script>
