<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
      <div class="navContainer">
          <input type='checkbox' id="menu">
          <div id='wrap' style="transform: scale(0.5);">
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
          </div>
          <div id='wrap' style="transform: scale(0.5);">
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
            <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
              <g>
                <g id='Layer_1-2'>
                  <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
                </g>
              </g>
            </svg>
          </div>        

          <div class="logout" onclick="Logout()">
            <img src="/template/images/logout.svg">
          </div>
        </div>

        <center>
        <div class="list">
          <div class="eleve">
            <label for="categories">Catégories</label>
            <select id="categorie" name="categorie" onchange="getCompetence()">
              <option value=""></option>

              {{ range .Categories }}
                  <option value="{{.Id}}">{{.Name}}</option>
              {{ end }}
            </select>
            <br><br>

            <label for="nom_client">Année scolaire</label>
            <select id="annee" name="annee" onchange="getStudents()">
              <option value=""></option>

              {{ range .YearList }}
                <option value={{.}}>{{.}}</option>
              {{ end }}
            </select>
          </div>

          <div class="container3">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Sous-Catégorie</th>
                    <th>Image</th>
                    <th>Élèves</th>
                    <th>Classes</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody">
                    
                    
                </tbody>
            </table>
        </div>
      </div>
      </center>
        
        <center id="navbar" style="display: none;">
          <div class="blur">
            <ul class="menu-bar">
                <a id="current">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/observer">Généré le pdf</a>
            </ul>
          </div>
        </center>
    </body>
</html>

<script>
    document.getElementById("menu").addEventListener("click", () => {
        setTimeout(()=>{
            const navBar = document.getElementById("navbar")
            const child = navBar.children[0]
            
            if (navBar.style.display === "none") {
                navBar.style.display = "block"

                
                let i = -50
                let y = -30
                const interval = setInterval(() => {
                    child.style.left = `${i}%`

                    if (Math.floor(Math.abs(i)%(50/30)) === 0) {
                        child.style.top = `${y}vh`
                        y++
                    }

                    i++
                    if (i > 0) {
                        clearInterval(interval)
                    }
                }, 8)

            } else {
                navBar.style.display = "none"
                child.style.left = "50%"
                child.style.top = "-30vh"
            }
        }, 2000)
    })

    function Logout() {
      var cookies = document.cookie.split(";"); 
     
      for (var i = 0; i < cookies.length; i++) { 
        var cookie = cookies[i]; 
        var eqPos = cookie.indexOf("="); 
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie; 
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/"; 
      }

      location.reload()
    }
    
    async function getCompetence() {
        const tbody = document.getElementById("tbody")
        tbody.innerHTML = ''

        select = document.getElementById("categorie")
        choice = select.selectedIndex
 
        valueSelected = select.options[choice].value

        const datas = await fetch(`http://${location.host}/getCompetences`, { method: "POST", body: JSON.stringify({ categories: valueSelected }) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(async data => {
            const tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${data.Name}</td>
                <td>${data.Categorie.Name}</td>
                <td>${data.SubCategorie.Name}</td>
                <td><img src="${data.ImagePath}" style="max-width: 200px;"></td>
                <td></td>
                <td></td>
                <td><input type="button" value="Modifier la compétence" name="modifier" id="${data.Id}" onclick="Modify(this)"></td>
                <td><input type="button" id="${data.Id}" value="Supprimer la compétence" name="supprimer" onclick="Remove(this)"></td>
            `

            tbody.appendChild(tr)
        });
    }

    async function getStudents() {
        const tbody = document.getElementById("tbody")
        tbody.innerHTML = ''

        const selectCateg = document.getElementById("categorie")
        const choiceCateg = selectCateg.selectedIndex
        const valueSelectedCateg = selectCateg.options[choiceCateg].value

        const selectYear = document.getElementById("annee")
        const choiceYear = selectYear.selectedIndex
        const valueSelectedYear = selectYear.options[choiceYear].value

        if (valueSelectedCateg === "" || valueSelectedYear === "") {
            return
        }

        const datas = await fetch(`http://${location.host}/getCompetencesWithStudents`, { method: "POST", body: JSON.stringify([valueSelectedCateg, valueSelectedYear]) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(async data => {
            var studentsFormated = ""
            var classFormated = ""

            data.Students.forEach(student => {
                studentsFormated += `${student.Name}<br>`
                classFormated += `${student.Class}<br>`
            })

            const tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${data.Name}</td>
                <td>${data.Categorie.Name}</td>
                <td>${data.SubCategorie.Name}</td>
                <td><img src="${data.ImagePath}" style="max-width: 200px;"></td>
                <td>${studentsFormated}</td>
                <td>${classFormated}</td>
                <td><input type="button" value="Modifier l'élève" name="modifier" id="${data.Id}" onclick="Modify(this)"></td>
                <td><input type="button" id="${data.Id}" value="Supprimer la compétence" name="supprimer" onclick="Remove(this)"></td>
            `

            tbody.appendChild(tr)
        });
        console.log(datas);
    }

    function Modify(e) {
        document.cookie = `competenceId=${e.id}`
        location.href = "/saisir/modifyCompetence"
    }

    function Remove(e) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/deleteCompetence', false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(e.id));

        location.reload()
    }
</script>
