<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/home">Menu principal</a>
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a id="current">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
            </ul>
        </center>

        <label for="nom_client">Année scolaire:</label>
        <select id="annee" name="annee" onchange="getStudents()">
            <option value="" disabled selected></option>

            {{ range . }}
                <option value={{.}}>{{.}}</option>
            {{ end }}
        </select>
        
        <div class="container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Classe</th>
                    <th>Année</th>
                    <th>Compétences</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        
    </body>
</html>

<script>
    document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
        } else {
            navBar.style.display = "none"
        }
    })

    const getStudents = async () => {
        const tbody = document.getElementById('tbody')
        tbody.innerHTML = ''

        const select = document.getElementById("annee")
        const choice = select.selectedIndex
        const valueSelected = select.options[choice].value

        const datas = await fetch(`http://${location.host}/getStudents`, { method: "POST", body: JSON.stringify({ year: valueSelected }) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(data => {
            var competencesFormated = ""
            if (data.Competences) {
                data.Competences.forEach(competence => {
                    competencesFormated += competence.Name + "<br>"
                })
            }

            const tr = document.createElement('tr')
            tr.innerHTML = `
                <td>${data.Name}</td>
                <td>${data.Class}</td>
                <td>${data.Year}</td>
                <td>${competencesFormated}</td>
                <td><input type="button" value="Modifier l'élève" name="modifier" id="modify${data.Id}"></td>
                <td><input type="button" value="Supprimer l'élève" name="supprimer" onclick="Remove(this)" id="${data.Id}"></td>
            `
            tbody.appendChild(tr)
            
            const modify = document.getElementById(`modify${data.Id}`)
            if (modify) {
                modify.addEventListener('click', () => {
                    Modify(data)
                })
            }
        });
    }

    function Modify(data) {
        document.cookie = `studentId=${data.Id}`
        location.href = "/saisir/modifyEleve"
    }

    function Remove(e) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/deleteEleve', false);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(e.id));

        location.reload()
    }
</script>