<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <input type='checkbox' id="menu">
        <div id='wrap'>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
        </div>
        <div id='wrap'>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
          <svg id='Layer_1' space='preserve' style='enable-background:new 0 0 820 864;' viewbox='0 0 820 864' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
            <g>
              <g id='Layer_1-2'>
                <path class='st0' d='M341.8,326.1h213c89.9-9.3,148.7-84.1,140-152c-7.6-58.9-67.1-121.3-133-109c-65.2,12.2-103.6,91.5-87,133&#x000A;			c15.6,39.1,72.5,25.7,104,73c34.8,52.2,4.4,126.9,1,135c-38.6,91.3-166.6,159.9-283,120c-83.1-28.5-148.1-108-153-203&#x000A;			c-5.2-102,61.1-181.2,130-217c105.2-54.7,222.8-11.2,288,42c134.2,109.5,141.4,337.4,56,424c-58.7,59.5-164.8,55.8-217,147&#x000A;			c-6.4,11.2-13.2,25.9-9,41c12.1,43.6,109.8,70.9,180,42c82.7-34.1,134.7-149.4,97-207c-35.2-53.7-145.1-52.1-210-14&#x000A;			c-39,22.9-40.8,46.7-85,69c-55.6,28.1-132.6,30.5-146,7c-14.9-26.2,38-103.1,320-320'></path>
              </g>
            </g>
          </svg>
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/observer">Généré le pdf</a>
            </ul>
        </center>

        <div class="form-message">
            {{ if .Error }}
                <div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{.Error}} </div>
            {{ else if .Success }}
                <div class="alert sucess"><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{.Success}} </div>
            {{ end }}
        </div>
        
        <form method="post" class="ajouterEleve">
            <center>
                {{$studentClass := .Student.Class}}
                <label for="classe_eleve" class="center">Classe de l'élève:</label>
                <select id="classe" name="class">

                    {{ range .Class }}
                        {{if eq . "Ps"}}
                            <option value="Ps" name="Ps" {{ if eq $studentClass "Ps" }} selected {{ end }} >Petite section</option>
                        {{else if eq . "Ms"}}
                            <option value="Ms" name="Ms" {{ if eq $studentClass "Ms" }} selected {{ end }} >Moyenne section</option>
                        {{else if eq . "Gs"}}
                            <option value="Gs" name="Gs" {{ if eq $studentClass "Gs" }} selected {{ end }} >Grande section</option>
                        {{ end }}
                    {{ end }}
                    
                    
                </select><br>
    
                <label for="nom_eleve" class="center">Nom de l'élève:</label>
                <input id="nom_eleve" type="text" name="name" placeholder="Nom de l'élève" value="{{.Student.Name}}"><br>
                <label for="annee_scolaire" class="center">Année Scolaire:</label>
                <input id="annee_scolaire" type="text" name="year" placeholder="Année scolaire" value="{{.Student.Year}}"><br>
    
                <input type="submit" value="Créer" name="submit"><br>
            </center>
        </form>
    </body>
</html>

<script>
    document.getElementById("menu").addEventListener("click", () => {
        setTimeout(()=>{
            const navBar = document.getElementById("navbar")
            const child = navBar.children[0]
            
            if (navBar.style.display === "none") {
                navBar.style.display = "block"

                let i = 50
                let y = -15
                const interval = setInterval(() => {
                    child.style.left = `${i}%`

                    if (Math.floor(i%(50/15)) === 0) {
                        child.style.top = `${y}vh`
                        y++
                    }

                    i--
                    if (i < 0) {
                        clearInterval(interval)
                    }
                }, 8)

            } else {
                navBar.style.display = "none"
                child.style.left = "50%"
                child.style.top = "-15vh"
            }
        }, 2000)
        
    })
    
    function RemoveCookie() {
        document.cookie = "studentId=; expires=Thu, 01 Jan 1970 00:00:00 UTC"
    }
</script>