<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Livrets </title>
        <link rel="stylesheet" type="text/css" href="/template/css/main.css">
    </head>

    <body>
        <img src="/template/images/fond2.png" class="background">

        <div class="hamburger-icon" id="menu">
            <label for="openmenu" id="hamburger-label">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </label>    
        </div>        
          
        <center id="navbar" style="display: none;">
            <ul class="menu-bar">
                <a href="/saisir/listCompetence">Liste des compétences</a>
                <a href="/saisir/addCompetence">Ajouter une compétence</a>
                <a href="/saisir/listEleve">Liste d'élèves</a>
                <a href="/saisir/addEleve">Ajouter un élève</a>
                <a href="/saisir/addLinkCompetenceEleve">Attribution des Compétences</a>
                <a href="/saisir/changeSigningUp">Modifier la signature</a>
                <a href="/saisir/removeLinkCompetenceEleve">Supprimer les compétences d'un élève</a>
                <a id="current">Généré le pdf</a>
            </ul>
        </center>

        <div class="form-message" id="form-message"></div>

        <div class="ajouterEleve_big">
            <center>
                <label for="annee">Année scolaire:</label><br>
                <select id="annee" name="annee" onchange="getStudents()">
                    <option value="" disabled selected></option>

                    {{ range . }}
                        <option value={{.}}>{{.}}</option>
                    {{ end }}
                </select><br><br>

                <div id="students"></div>
            </center>
        </div>
    </body>
</html>

<script>
    document.getElementById("menu").addEventListener("click", () => {
        const navBar = document.getElementById("navbar")
        const child = navBar.children[0]
        
        if (navBar.style.display === "none") {
            navBar.style.display = "block"
            
            let i = 50
            let y = -15
            const interval = setInterval(() => {
                child.style.left = `${i}%`
                
                if (Math.floor(i%(50/15)) === 0) {
                    child.style.top = `${y}vh`
                    y++
                }

                i--
                if (i < 0) {
                    clearInterval(interval)
                }
            }, 8)

        } else {
            navBar.style.display = "none"
            child.style.left = "50%"
            child.style.top = "-15vh"
        }
    })
    
    async function getStudents() {
        const div = document.getElementById('students')
        div.innerHTML = '<option value="" disabled selected></option>'

        const selectYear = document.getElementById("annee")
        const choiceyear = selectYear.selectedIndex
 
        const valueSelected = selectYear.options[choiceyear].value

        const datas = await fetch(`http://${location.host}/getStudents`, { method: "POST", body: JSON.stringify({ year: valueSelected }) }).then(data => data.json())
        if (!datas) {
            return
        }

        datas.forEach(data => {
            const button = document.createElement('button')
            button.id = data.Id
            button.innerHTML = data.Name

            div.appendChild(button)

            button.addEventListener('click', () => {
                var date = new Date();
                date.setTime(date.getTime()+(5*1000));

                document.cookie = `studentId=${data.Id}; expires=${date.toGMTString()}`
                window.open(`http://${location.host}/createPDF`)
            })
        });
    }
</script>

