@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
body {
    background: url("/template/images/fond2.png") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 2s infinite;
    -moz-animation: bg-scrolling-reverse 2s infinite;
    -o-animation: bg-scrolling-reverse 2s infinite;
    animation: bg-scrolling-reverse 2s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

    height: 98vh;
    width: 96vw;
}

.background {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: -10;
}

.container3 {
    width: fit-content;
}

ul.menu-li {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    display: flex;
}

ul.menu-li li {
    margin: 0 0.5em 0 0;
    padding: 0;
    float: left;
}

ul.menu-li li a {
    text-decoration: none;
    display: block;
}

ul.menu-li li a.main-menu {
    width: 146px;
    height: 145px;
}

ul.menu-li li a#saisir {
    background: url("../images/pierre(1).jpg") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#saisir:hover {
    background: url("../images/pierre.jpg") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#observer {
    background: url("../images/ciseau(1).png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#observer:hover {
    background: url("../images/ciseau.png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#imprimer {
    background: url("../images/imprimer.png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#imprimer:hover {
    background: url("../images/imprimer(2).png") no-repeat top left;
    background-size: 146px 145px;
}

.form-message {
    width: 100%;
    display: flex;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn:hover {
    color: black;
}

.alert.sucess {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {    
    background-color: #d8dbce;
    color: #000;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #d8dbce;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000;
}

form select, form input[type="text"], form button, form label {
    display: flex;
}

form.ajouterEleve {
    margin: auto;
    width:15%;

    /* margin-right: 25px; */
}

label.center
{
    display:inline-block;
}

.ajouterEleve_big {
    width:25%;
    
    margin: auto;
    position: relative;

    text-align: center;
    padding: 10px 0 10px 0;
}

.ajouterEleve_big * {
    width: fit-content;

    margin: 0 auto;
}

.competence {
    width:15%
}

.ajouterEleve_big .lower {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.ajouterEleve_big .lower2 {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.navContainer {
    position: absolute;
    z-index: 2;

    width: 100px;
    height: 60px;
}

#wrap{
    position:absolute;
    right: 25%;
    top: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.575);
    transition-delay:1.85s;
    pointer-events:none;
    filter:hue-rotate(70deg);
    &:nth-of-type(2){
        z-index:-1;
        &:before{
            text-transform:uppercase;
            position:absolute;
            color:rgba(255,255,255,0.75);
            z-index:999;
            font-family:Futura;
            letter-spacing:2px;
            font-size:8px;
            left:5px;
            width:100%;
            top:calc(50% + 40px);
            text-align:center;
            transition:transform 0.4s ease-in-out, opacity 0.4s ease-in-out, letter-spacing 0.3s ease-in-out;
            transition-delay:2.5s, 2.5s, 0s;
            opacity:1;
        }
        svg{
            path{
                transition-delay:0s, 0s;
                stroke:#fff;
            }
            &:nth-of-type(2){
                path{
                    transition-delay:0.75s, 0.75s;
                }
            }
            &:nth-of-type(3){
                path{
                    transition-delay:1.5s, 1.5s;
                }
            }
        }
    }
}

input[type='checkbox']{
    position:absolute;
    width:50px;
    height:100%;
    z-index:999;
    opacity:0;
    cursor:pointer;
    right: 5%;
    &:hover ~ #wrap{
        &:before{
            transition-delay:2.5s, 2.5s, 0s;
            letter-spacing:5px;
        }
    }
    &:checked ~ #wrap{
        transform:scaleX(0.9);
        &:before{
            opacity:0;
            transform:translateY(25vh);
            transition-delay:0s, 0s, 0s;
        }
        &:nth-of-type(2){
            svg{
                path{
                    stroke:#fff;
                }
            }
        }
        svg{
            transition-delay:0s;
            &:first-of-type{
                transform:translateY(0px);
                path{
                    transition-delay:0.5s, 0.5s;
                }
            }
            &:nth-of-type(2){
                transform:translateY(0px) scaleY(-1);
                path{
                    transition-delay:0.5s, 0.5s;
                }
            }
            &:nth-of-type(3){
                path{
                    stroke-dasharray:10000px;
                    stroke-dashoffset:10000px;
                    transition-delay:1s, 1s;
                }
            }
            path{
                stroke-dasharray:5000px;
                stroke-dashoffset:-4150px;
                stroke:rgb(255, 123, 0);
            }
        }
    }
}



svg{
    position:absolute;
    width: 200px;
    transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.575);
    transition-delay:2s;
    margin-left:-9px;
    &:first-of-type{
        transform:translateY(5px);
    }
    &:nth-of-type(2){
        transform:translateY(-6px) scaleY(-1);
        path{
            transition:stroke-dasharray 1.2s ease-in-out, stroke-dashoffset 1.2s ease-in-out, stroke 1.2s ease-in-out;
            transition-delay:0.6s, 0.6s, 0.6s;
        }
    }
    &:nth-of-type(3){
        transform:translateY(25px);
        path{
            transition:stroke-dasharray .25s ease-in-out, stroke-dashoffset 0.25s ease-in-out, stroke 0.25s ease-in-out;
            transition-delay:1.8s, 1.8s, 1.8s;
        }
    }
    path{
        stroke:blue;
        stroke-width:40px;
        fill:none;
        stroke-linecap:round;
        stroke-dasharray:4400px;
        stroke-dashoffset:4200px;
        transition:stroke-dasharray 1.5s ease-in-out, stroke-dashoffset 1.5s ease-in-out, stroke 1.5s ease-in-out;
    }
}

.blur {
    position: fixed;
    z-index: 1;

    backdrop-filter: blur(8px);

    height: 100%;
    width: 100%;

    padding-top: 15%;
    padding-bottom: 15%;
}

.menu-bar {
    animation: fade_in_show 0.5s;

    position: relative;
	border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	align-items: center;

    flex-direction: column;
	padding: 10px;
	margin: 20px 0 0 0;
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

.menu-bar a {
	list-style: none;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	transition: color 0.2s, transform 0.2s;
    text-decoration: none;

    padding: 10px 12px;
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

.menu-bar a::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: 0.2s;
	border-radius: 25px;
}

.menu-bar a:not(#current):hover::before {
	background: linear-gradient(to bottom, #e8edec, #d2d1d3);
	box-shadow: 0px 3px 20px 0px black;
	transform: scale(1.2);
}

.menu-bar a:not(#current):hover {
	color: black;
}

.menu-bar #current {
    cursor: not-allowed;
}

.logout img {
    position: absolute;
    top: 2%;
    left: 1%;

    width: 50px;

    cursor: pointer;
}

.container2 {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 1.5rem;
    background-color: #d8dbce;
    border-radius: 25px;
    box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 29px -1px rgba(0,0,0,0.51);

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    
    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
    
    .cta-form {
        margin-bottom: 2rem;
        text-align: center;
      
        @media (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 2rem;
            text-align: left;
        }
      
        h2 {
            font-size: 1.5rem;
            width: 100%;
            max-width: 25ch;
            margin: 0 auto;
            text-align: center;
      
            @media (min-width: 768px) {
                text-align: left;
                margin: 0;
            }
        }
      
        p {
            margin-top: 1rem;
            font-size: 1rem;
            width: 100%;
            max-width: 24ch;
        }
    }
}

.form {
    align-self: center;
}
 
.form__input {
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    padding: 0 1.25rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.625rem auto;
    transition: all 250ms;
    @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);
    }
    
    &:focus {
        outline: none;
        border-top-color: rgba(0,0,0,0.1);
    }
    
    &:focus + .form__label, &:not(:placeholder-shown) + .form__label {
        transform: translateY(-4.50rem) scale(1);
        color: black;
    }
    
    &::placeholder {
        display: none;
        color: transparent;
      
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    &:not(:placeholder-shown) {
        border-top-color: rgba(0, 0, 0, 0.5);
    }
}

.form__label {
    font-size: 1rem;
    color: grey;
    display: block;
    transform: translate(1.25rem,-2.5rem);
    transform-origin: 0 0;
    transition: all 500ms;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.better__align {
    margin: 0.625rem 1rem;
}

.font__black {
    color: black;
    margin-left: -5%;
}

.higher {
    position: absolute;
    top: 18rem;

    @media (min-width: 768px) {
        top: 10.8rem;
    }
}

.bigger {
    height: 10rem;
    margin-bottom: 15%;
}

.higher2 {
    position: absolute;
    top: 28rem;

    @media (min-width: 768px) {
        top: 20.5rem;
    }
}

.form__button__zone {
    height: 15rem;

    overflow-y: auto;
}

.text__label {
    color: black;

    position: absolute;
    top: 13rem;
    left: 38%;
}

.more__Lower {
    margin-top: 2rem;
    height: fit-content;
}

.Lower {
    margin-top: 2rem;
}

.list {
    width: fit-content;

    position: relative;
    top: 80px;
}

.eleve {
    width: fit-content;
    background-color: #d8dbce;

    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}