.background {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: -10;
}

.container {
    width: 100%;
}

ul.menu-li {
    margin: 1em 0;
    padding: 0;
    list-style: none;
    display: flex;
}

ul.menu-li li {
    margin: 0 0.5em 0 0;
    padding: 0;
    float: left;
}

ul.menu-li li a {
    text-decoration: none;
    display: block;
}

ul.menu-li li a.main-menu {
    width: 146px;
    height: 145px;
}

ul.menu-li li a#saisir {
    background: url("../images/pierre(1).jpg") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#saisir:hover {
    background: url("../images/pierre.jpg") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#observer {
    background: url("../images/ciseau(1).png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#observer:hover {
    background: url("../images/ciseau.png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#imprimer {
    background: url("../images/imprimer.png") no-repeat top left;
    background-size: 146px 145px;
}

ul.menu-li li a#imprimer:hover {
    background: url("../images/imprimer(2).png") no-repeat top left;
    background-size: 146px 145px;
}

.form-message {
    width: 100%;
    display: flex;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn:hover {
    color: black;
}

.alert.sucess {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

form select, form input[type="text"], form button, form label {
    display: flex;
}

form.ajouterEleve {
    border: 2px solid #000000;
    background-color: #f3f3f3;
    width:15%;

    margin-right: 25px;
}

label.center
{
    /*width: 50%;*/
    display:inline-block;
}
.ajouterEleve_big {
    border: 2px solid #000000;
    background-color: #f3f3f3;
    width:25%;

    text-align: center;
    padding: 10px 0 10px 0;
}

.ajouterEleve_big * {
    width: fit-content;

    margin: 0 auto;
}

ul li a.bleu {background: #468bfc;}
ul li a.bleu:hover {background: #ffffff;}

ul li a.rouge {background: #fc464b;}
ul li a.rouge:hover {background: #ffffff;}

ul li a.vert {background: #12e81b;}
ul li a.vert:hover {background: #ffffff;}

ul li a.orange {background: #ff9800;}
ul li a.orange:hover {background: #ffffff;}

ul li a.turquoise {background: #26fef9;}
ul li a.turquoise:hover {background: #ffffff;}

ul li a.rose {background: #fe48f2;}
ul li a.rose:hover {background: #ffffff;}

ul li a.jaune {background: #fefb48;}
ul li a.jaune:hover {background: #ffffff;}

ul li a.gris {background: #dfdddd;}
ul li a.gris:hover {background: #ffffff;}

.competence {
    width:15%
}